<a href="https://colab.research.google.com/github/ByeongjuHwang/data-science-python/blob/main/04_condition_and_iterative.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 제어문(Control Statement)
`edited 23.04.21`



---

## 조건문(Conditional Statement)

### if 문

* if 문을 이용한 미세먼지 측정
  + 미세먼지 농도 pm
  + 35 초과는 미세먼지 농도 나쁨

In [1]:
pm = 40
if pm > 35:
  print("미세먼지 농도 나쁨")

미세먼지 농도 나쁨

### if-else 문

* if-else 문을 이용한 미세먼지 측정
  + 미세먼지 농도 pm
  + 36 이상은 미세먼지 농도 나쁨
  + 35 이하는 미세먼지 농도 좋음

In [2]:
pm = 35
if pm >= 36:
  print("미세먼지 농도 나쁨")
else:
  print("미세먼지 농도 좋음")

미세먼지 농도 좋음

### if-elif-else 문

* if-elif-else 문을 이용한 미세먼지 측정
  + 미세먼지 농도 pm
  + 미세먼지 농도 0~15: 좋음
  + 미세먼지 농도 16~35: 보통
  + 미세먼지 농도 36~75: 나쁨
  + 미세먼지 농도 76~: 매우나쁨

In [3]:
pm = 70

if pm <= 15:
  print("좋음")
elif pm <= 35:
  print("보통")
elif pm <= 75:
  print("나쁨")
else:
  print("매우나쁨")

나쁨

### 중첩 if 문

* 중첩 if 문을 이용한 미세먼지 측정
  + 미세먼지 농도 pm
  + 미세먼지 농도 0~15: 좋음
  + 미세먼지 농도 16~35: 보통
  + 미세먼지 농도 36~75: 나쁨
  + 미세먼지 농도 76~: 매우나쁨

In [4]:
pm = 80

if pm <= 15:
  print("좋음")
else:
  if pm <= 35:
    print("보통")
  else:
    if pm <= 75:
      print("나쁨")
    else:
      if pm >= 76:
        print("매우 나쁨")

매우나쁨

### if-pass 문

* 조건문은 있지만 실행할 문장이 없는 경우, 오류가 발생하지 않도록 무시하고 넘어가는 기능

In [ ]:
pm = 85

if pm <= 15:
  print("좋음")
elif pm <= 35:
  print("보통")
elif pm <= 75:
  print("나쁨")
elif pm >= 76:
  print("매우나쁨")
else:
  pass

### if 조건 연산자

* 비교연산자: <, >, ==, !=, >=, <=

In [5]:
pm = 85

if pm < 16:
  print("좋음")
elif pm < 36:
  print("보통")
elif pm < 76:
  print("나쁨")
elif pm > 75:
  print("매우나쁨")
else:
  pass

매우나쁨

* 논리연산자: and, or, not

In [10]:
human = True
apple = True
computer = True
galaxy = False

if human and apple:
  print("사람이면서, 애플제품을 사용중입니다.")

if human or galaxy:
  print("사람이거나 갤럭시제품을 사용중입니다.")

if not galaxy:
  print("저는 갤럭시 제품을 사용하고 있지 않습니다.")

if not computer:
  print("저는 컴퓨터를 사용하고 있지 않습니다.")

사람이면서, 애플제품을 사용중입니다.
사람이거나 갤럭시제품을 사용중입니다.
저는 갤럭시 제품을 사용하고 있지 않습니다.

* 멤버연산자: in, not in

```python
list = ['one','two','three']

if 'one' in list:
  print("ONE")

if 'four' not in list:
  print("no")
```

In [11]:
list = ['one','two','three']

if 'one' in list:
  print("ONE")

if 'four' not in list:
  print("no")

ONE
no

* 식별연산자: is, is not

In [13]:
str = "abc"
str_2 = "abc"
str_3 = "abcd"

if str is str_2:
  print("str과 str_2는 같습니다.")

if str is not str_3:
  print("str과 str_3는 다릅니다.")

str과 str_2는 같습니다.
str과 str_3는 다릅니다.

### 조건부 표현식(Conditional Expression)

* 한 라인으로 조건식을 사용한 표현

In [14]:
score = 75
msg = "pass" if score >= 70 else "탈락"

print(msg)

pass

### [Lab] 학생 종류

* 8세 미만 "학생 아님"
* 14세 미만 "초등학생"
* 17세 미만 "중학생"
* 20세 미만 "고등학생"
* 26세 미만 "대학생"
* 그 외에 "학생 아님"

### [Lab] 학점 계산

* 95점 이상 "A+"
* 90점 이상 "A"
* 85점 이상 "B+"
* 80점 이상 "B"
* 75점 이상 "C+"
* 70점 이상 "C"
* 65점 이상 "D+"
* 60점 이상 "D"
* 그 외 "F"



---

## 반복문(Repetitive Statement)

### while 문

* while 문 예제: 1부터 10까지 반복

In [17]:
i = 0

while i < 10:
  i = i + 1
  print(i)

1
2
3
4
5
6
7
8
9
10

* while 문 예제: 1부터 10까지 더하기

In [19]:
j = 0
sum = 0
while j <= 10:
  sum += j
  j += 1

print(sum)

55

### for 문

* 리스트 요소 반복

In [21]:
lst = ["apple", "banana", "orange"]

for item in lst:
  print(item)

for i in range(3):
  print(lst[i])

apple
banana
orange
apple
banana
orange

* 튜플 요소 반복

In [23]:
tup = ("apple", "banana", "orange")

for item in tup:
  print(item)

for j in range(3):
  print(tup[j])

apple
banana
orange
apple
banana
orange

* 문자열 요소 반복

In [24]:
stri = "hello"

for item in stri:
  print(item)

h
e
l
l
o

#### range()

```python
for 변수 in range(시작값, 마지막값, 증가값):
  <문장>
```

In [27]:
lst = ["apple", "banana", "orange", "grape"]

for item in range(0, 3, 2):
  print(lst[item])

print("\n")

for item in range(0, 3):
  print(lst[item])

apple
orange


apple
banana
orange

* 범위 반복 range를 이용한 구구단
hint : {0}, {1}, {2}, .format(i,j,i*j)

In [28]:
for i in range(2, 10):
  for j in range(1, 9):
    print("{0} x {1} = {2}".format(i, j, i*j))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72

#### _ 기능
- iterator 변수 할당을 하고싶지 않을 때 사용

In [29]:
for _ in range(3):
  print(_) # 메모리를 할당하지 않음

0
1
2

In [30]:
lst = [1, 2, 3, 4, 5]

for _ in range(5):
  print(lst[_])

1
2
3
4
5

### else 문

* 반복이 종료된 후에 한번 더 실행되는 문장

In [31]:
i = 0
sum = 0

while i < 10:
  i += 1
  sum += i
else:
  print(sum)

55

### break 문

* 반복문 종료

In [32]:
i = 0

while i < 100:
  print(i)
  i += 1
  if i > 50:
    break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

### continue 문

* 반복 조건문으로 이동

In [33]:
i = 0

while i < 100:
  i += 1
  if i % 2 == 1:
    continue
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### 리스트 내포(List Comprehension)

* 리스트 안에 for 문과 if 문 사용

### [Lab] 문자열 반전

* 문자열을 역순으로 만들기

```python
string = 'Hello, World!'
reversed_str = "".join(reversed(string))

print(f'Original String: {string}')
print(f'Reversed String: {reversed_str}')
```

In [ ]:
string = 'Hello, World!'
reversed_str = "".join(reversed(string))

print(f'Original String: {string}')
print(f'Reversed String: {reversed_str}')

Original String: Hello, World!
Reversed String: !dlroW ,olleH



---

과제
* 조건문
1. https://www.acmicpc.net/problem/1330
2. https://www.acmicpc.net/problem/9498
3. https://www.acmicpc.net/problem/2753
4. https://www.acmicpc.net/problem/14681
5. https://www.acmicpc.net/problem/2884

* 반복문
1. https://www.acmicpc.net/problem/2739
2. https://www.acmicpc.net/problem/8393
3. https://www.acmicpc.net/problem/2438
4. https://www.acmicpc.net/problem/2439

---
## 참고문헌

|번호|내용|링크|
|--|--|--|
|1|Google Colab| http://suanlab.com/|
|2|Jupyter Notebook 등 python|https://wikidocs.net/book/1704|