<a href="https://colab.research.google.com/github/ByeongjuHwang/data-science-python/blob/main/2_4_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 클래스 (Class)

객체 지향 프로그래밍(Object Oriented Programming) 또는 OOP는 속성 및 동작이 개별 객체에 고정적으로 포함되도록 프로그램을 구성하는 수단을 제공하는 프로그래밍 패러다임

예를 들어, 사람이라는 객체는 이름, 나이, 주소 등을의 속성을 가지고 있으며 걷고, 말하고, 호흡하고, 달리기와 같은 행동으로 표현 할 수 있습니다. 또 전자메일은 받는 사람 목록, 제목, 본문 등과 같은 속성 과  첨부 파일 추가 및 보내기와 같은 동작을 포함한 객체입니다.

* 'class'는 객체 지향 프로그래밍의 핵심적인 요소로서, 데이터와 기능을 하나의 단위로 묶어서 재사용성과 유지보수성을 높이는 방법입니다.
* 'class'를 사용하면 코드를 더 간결하고 명확하게 작성할 수 있습니다.

파이썬에서 클래스(class)를 정의하고 생성하는 방법은 다음과 같습니다.

```python
class MyClass:
    x = 5
```

위 코드에서 `MyClass`는 클래스 이름이며, `x`는 클래스의 속성(attribute)입니다. 이 속성은 클래스 변수로서 모든 인스턴스에서 공유됩니다.

클래스의 메서드(method)는 클래스 내부에 정의된 함수입니다. 메서드는 클래스의 인스턴스에서 호출됩니다. 메서드를 정의하는 방법은 다음과 같습니다.

```python
class MyClass:
    x = 5

    def my_method(self):
        print("Hello World")
```

상속(inheritance)은 클래스가 다른 클래스의 속성과 메서드를 상속받을 수 있는 기능입니다. 이것은 코드의 재사용성을 높이고 유지보수를 쉽게 만들어줍니다. 다형성(polymorphism)은 객체가 여러 가지 형태를 가질 수 있는 능력입니다. 이것은 코드의 유연성을 높이고 확장성을 높여줍니다.

In [3]:
class Laptop:
  pass
print(type(Laptop))

<class 'type'>

In [2]:
galaxybook = Laptop()
macbook = Laptop()
lgGram = Laptop()

print(type(galaxybook))

<class '__main__.Laptop'>

## 생성자`(__init__)`함수

* 객체가 생성되자마자 실행되는 함수

In [6]:
class Laptop:
  def __init__ (self):
    print('new object is generated at ', self) # self 메모리 주소
    self.brand = 'samsung'
    self.display = 16
    self.price = 2000000

galaxybook1 = Laptop()
galaxybook2 = Laptop()
galaxybook3 = Laptop()

macBook = Laptop()

print(f"brand: {galaxybook1.brand}")
print(f"brand: {galaxybook1.display}")
print(f"brand: {galaxybook1.price}")

new object is generated at  <__main__.Laptop object at 0x7e129fcbd6f0>
new object is generated at  <__main__.Laptop object at 0x7e129fcbe2f0>
new object is generated at  <__main__.Laptop object at 0x7e129fcbcdf0>
new object is generated at  <__main__.Laptop object at 0x7e129fcbdb40>
brand: samsung
brand: 16
brand: 2000000

## 속성(Attribute) 정의

### 정적인 속성(static)

In [ ]:
class Laptop:
  def __init__ (self):
    print('new object is genearted at ', self)
    self.brand = 'samsung'
    self.display = 16
    self.price = 2000000

In [ ]:
laptop1 = Laptop()
laptop2  = Laptop()
laptop3 = Laptop()

print(f"brand: {laptop1.brand}")

new object is genearted at  <__main__.Laptop object at 0x7fd47599c820>
new object is genearted at  <__main__.Laptop object at 0x7fd47599fd60>
new object is genearted at  <__main__.Laptop object at 0x7fd47599e230>
brand: samsung

### 동적인 속성

In [8]:
class Laptop:
  def __init__ (self, brand, display, price):
    #print('new object is genearted at ', self)
    self.brand = brand,
    self.display = display,
    self.price = price

    #print(f"brand: {self.brand} , display size: {self.display} , price : {self.price}")

In [9]:
galaxybook = Laptop('samsung', 16, 2000000)
macbook = Laptop('apple', 14, 2500000)
print(f"brand: {galaxybook.brand} , display size: {galaxybook.display} , price : {galaxybook.price}")
print(f"brand: {macbook.brand} , display size: {macbook.display} , price : {macbook.price}")

brand: ('samsung',) , display size: (16,) , price : 2000000
brand: ('apple',) , display size: (14,) , price : 2500000

## 메서드 (method)

* 메서드(method)는 클래스의 객체에서 호출하여 속성에 대한 연산을 수행하는 역할

In [ ]:
a = list()

a.append(777)
a.append(1)

print(a)

a.sort()

print(a)

[777, 1]
[1, 777]

In [15]:
lst = [1, 2, 3, 4, 5]
print(lst)

lst2 = list()
print(lst2)

lst2.append(123)
print(lst2)
lst2.append([1, 2, 3])
print(lst2)

[1, 2, 3, 4, 5]
[]
[123]
[123, [1, 2, 3]]

### instance method

*  객체 레벨에서 호출하는 함수
* 해당 메서드를 호출한 객체에만 영향을 미칩
* 인스턴스 메서드는 객체 생성 시에 초기화된 속성 값을 내부적으로 계속 저장하며 호출한 메서드에 따라 결과값이 변경됨

In [16]:
class Calculate1:
  def __init__(self):
    self.num = 0
  def increse(self):
    self.num += 1
  def reset(self):
    self.num = 0
  def print_value(self):
    print(f"The current value is {self.num}")

In [17]:
cal1_1 = Calculate1()
cal1_1.print_value()

The current value is 0

In [18]:
cal1_1.increse()
cal1_1.print_value()
cal1_1.increse()
cal1_1.print_value()

The current value is 1
The current value is 2

In [19]:
cal1_1.reset()
cal1_1.print_value()

The current value is 0

### 스태틱/클래스 메서드(static/class method)

* 클래스 레벨에서 호출하는 메서드로서 연산을 위한 속성 값이 필요 없다
* 객체를 따로 생성할 필요 없이 클래스 이름으로 바로 메서드를 호출

In [20]:
class Calculate2:
    @staticmethod
    def add(x, y):
        print(f"x+y = {x+y}")
    @staticmethod
    def sub(x, y):
        print(f"x-y = {x-y}")
    @staticmethod
    def multiply(x, y):
        print(f"x*y = {x*y}")
    @staticmethod
    def divide(x, y):
        if y != 0:
            print(f"x/y = {x/y}")
        return None


Calculate2.add(20, 10)
Calculate2.sub(20, 10)
Calculate2.multiply(20, 10)
Calculate2.divide(20, 10)

x+y = 30
x-y = 10
x*y = 200
x/y = 2.0

## 상속

* 존에 정의한 클래스의 속성 및 메서드를 그대로 사용할 수 있도록 클래스 간에 물려주거나 받는 것을 의미
* 중복된 메서드를 재정의할 필요가 없다는 장점

### 부모 클래스와 자식 클래스
* 상속해 주는 기존 클래스는 부모 클래스(Pararent class), 상위 클래스(Super class), 기초 클래스(Base class)라고 부릅니다.
* 반대로 상속을 받는 클래스는 자식 클래스(Child class), 하위 클래스(Sub class), 파생 클래스(Derived class)라고 부릅니다.

In [21]:
class SportsTeam:
    def __init__ (self, team_name):
        self.team_name= team_name
        print(f"{self.team_name} 팀에 대한 정보입니다.")
    def won(self, won):
        print(f"{self.team_name} 팀은 {won}회 승리하였습니다.")
    def loss(self, loss):
        print(f"{self.team_name} 팀은 {loss}회 패배하였습니다.")
    def draw(self, draw):
        print(f"{self.team_name} 팀은 {draw}회 비겼습니다.")

In [22]:
class SoccerTeam(SportsTeam):
  def __init__ (self, team_name):
    self.team_name = team_name

class BaseballTeam(SportsTeam):
  def __init__ (self, team_name):
    self.team_name = team_name

In [23]:
tth = SoccerTeam('Tottenham Hotspur')
tth.won(33)
tth.loss(5)
tth.draw(5)

lgt = BaseballTeam('LG Twins')
lgt.won(11)
lgt.loss(3)
lgt.draw(0)

Tottenham Hotspur 팀은 33회 승리하였습니다.
Tottenham Hotspur 팀은 5회 패배하였습니다.
Tottenham Hotspur 팀은 5회 비겼습니다.
LG Twins 팀은 11회 승리하였습니다.
LG Twins 팀은 3회 패배하였습니다.
LG Twins 팀은 0회 비겼습니다.

In [24]:
class BaseballTeam(SportsTeam):
    def __init__ (self, team_name):
        self.team_name = team_name
    def draw(self, draw):
        print(f"{self.team_name} 팀은 {draw}회 연장전에 돌입했습니다.")

In [25]:
lgt = BaseballTeam('LG Twins')
lgt.won(11)
lgt.loss(3)
lgt.draw(0)

LG Twins 팀은 11회 승리하였습니다.
LG Twins 팀은 3회 패배하였습니다.
LG Twins 팀은 0회 연장전에 돌입했습니다.

In [26]:
class SoccerTeam(SportsTeam):
    def __init__ (self, team_name):
        self.team_name = team_name
    def draw(self, draw):
        super().draw(draw)
        print(f"{self.team_name} 팀은 {draw}회 연장전에 돌입했습니다.")

In [27]:
tth = SoccerTeam('Tottenham Hotspur')
tth.won(33)
tth.loss(5)
tth.draw(5)

Tottenham Hotspur 팀은 33회 승리하였습니다.
Tottenham Hotspur 팀은 5회 패배하였습니다.
Tottenham Hotspur 팀은 5회 비겼습니다.
Tottenham Hotspur 팀은 5회 연장전에 돌입했습니다.

---
## 참고문헌

|번호|내용|링크|
|--|--|--|
|1|Google Colab| http://suanlab.com/|
|2|클래스 사용방법|https://heytech.tistory.com/109|