<a href="https://colab.research.google.com/github/ByeongjuHwang/data-science-python/blob/main/2_5_module_package.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 모듈(Modules)

* Colab을 사용하면 Python 모듈과 패키지를 쉽게 설치하고 사용할 수 있습니다.

+ 예를 들어, Numpy, Matplotlib, TensorFlow 등의 인기 있는 라이브러리를 Colab에서 바로 불러올 수 있습니다. Colab에서 모듈과 패키지를 설치하려면 셀 앞에 느낌표(!)를 붙여서 명령 줄 스크립트를 실행하면 됩니다. 예를 들어, 아래의 코드는 Colab에 pandas 패키지를 설치하는 방법입니다.

`!pip install pandas`

* Colab에서 이미 설치된 모듈과 패키지는 import 문을 사용하여 불러올 수 있습니다. 예를 들어, 아래의 코드는 Colab에서 Numpy 모듈을 불러오는 방법입니다.

`import numpy as np`

Colab은 Google Drive와 연동되어 있으므로, Drive에 저장된 파일을 Colab에서 불러올 수 있습니다. 예를 들어, 아래의 코드는 Drive에 저장된 my_module.py라는 모듈을 Colab에서 불러오는 방법입니다.

```python
from google.colab import drive
drive.mount('/content/drive')
import sys
sys.path.append('/content/drive/My Drive')
import my_module
```

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import random

In [ ]:
for _ in range(10):
  rv = random.random()
  print(f"{rv: .2f}", end = ' ') # 소수점 둘째짜리까지 숫자를 가져옴
  print(f"{rv: .3f}", end = ' ')

 0.08  0.079  0.70  0.700  0.10  0.104  0.73  0.727  0.24  0.239  0.66  0.657  0.37  0.368  0.86  0.861  0.24  0.238  0.00  0.003

In [ ]:
for _ in range(10):
  rv = random.randint(0, 13)
  print(f"{rv}",end=' ')

7 9 11 13 3 0 11 7 7 7

In [ ]:
for _ in range(10):
  rv = random.randrange(0, 20, 3)
  print(f"{rv}",end=' ')

0 18 3 6 18 12 15 15 9 15

In [ ]:
random?

In [ ]:
import random
for _ in range(10):
  rv=random.random()
  print(f"{rv:.2f}",end=' ')

0.21 0.47 0.30 0.40 0.95 0.27 0.43 0.60 0.08 0.04

In [17]:
import mysolver

In [16]:
def func(x):
    return x*x-2*x-4

def der(x):
    return 2*x-2    # f(x), f'(x)

xNewton = mysolver.solve_by_newton(func,der,10)
xBisection = mysolver.solve_by_bisection(func,0,10)

print('tol = ',mysolver.tol)
print('x = ',xNewton, ', ', xBisection)

AttributeError: module 'mysolver' has no attribute 'solve_by_newton'

## 모듈 임포트 방법

```python
from mysolver import *
from mysolver import solve_by_newton, tol
import mysolver as solver
from mysolver import solve_by_newton as solve
```

In [4]:
import fibo as fb

print(fb.fibo(10))

55

# 패키지 (package)

파이썬에서 패키지(package)는 모듈(module)을 구조화하는 방법입니다. 패키지는 모듈의 네임스페이스(namespace)를 구조화하고 모듈을 더 쉽게 재사용할 수 있도록 합니다. 패키지는 모듈과 서브패키지(subpackage)로 구성됩니다.

패키지를 만드는 방법은 다음과 같습니다.

1. 패키지 디렉터리를 만듭니다.
2. `__init__.py` 파일을 만듭니다.
3. 패키지에 필요한 모듈을 추가합니다.

```python
mypackage/
    __init__.py
    mymodule.py
```

위 코드에서 `mypackage`는 패키지 이름이며, `mymodule.py`는 패키지에 포함된 모듈입니다.

### 예시 (pandas 패키지)

pandas 패키지를 사용하려면 먼저 해당 패키지를 설치해야 합니다. 판다스는 파이썬에서 데이터를 다루기 위한 라이브러리로, 데이터를 효과적으로 처리할 수 있도록 도와줍니다. 판다스를 설치하려면 다음 명령을 실행합니다.

```python
pip install pandas
```

판다스 패키지를 사용하려면 다음과 같이 임포트합니다.

```python
import pandas as pd
```

위 코드에서 `pd`는 판다스의 약어입니다. 이제 판다스의 함수 등을 사용할 때는 앞에 `pd.`을 붙인 후 사용합니다.

```python
pd.function_name()
```

In [7]:
import pandas as pd
pd.DataFrame()
i = 0
df = pd.DataFrame({'name': ['Alice', 'Bob', 'Charlie'], 'age': [25, 30, 35]})
df.to_csv('example.csv', index=False)

df.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
print(df)

      name  age
0    Alice   25
1      Bob   30
2  Charlie   35

In [8]:
!cat example.csv

name,age
Alice,25
Bob,30
Charlie,35

In [11]:
data = {'A': [45, 37, 42, 35, 39], 'B': [38, 31, 26, 28, 33], 'C': [10, 15, 17, 21, 12] }

df = pd.DataFrame (data)

corr_matrix = df.corr() # 상관계수
print (corr_matrix)

          A         B         C
A  1.000000  0.518457 -0.701886
B  0.518457  1.000000 -0.860941
C -0.701886 -0.860941  1.000000

In [12]:
corr = df.corr()
# cmap = color map
corr.style.background_gradient(cmap='coolwarm')

In [13]:
!pip install Faker

Collecting Faker
  Downloading Faker-25.0.1-py3-none-any.whl (1.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 8.0 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Installing collected packages: Faker
Successfully installed Faker-25.0.1

In [14]:
from faker import Faker # 가짜 데이터를 만드는 패키지

fake = Faker()
fake.name()

'Jennifer Caldwell'

In [15]:
fake = Faker('ko-KR')
fake.name()

'권서영'

In [16]:
fake.address()

'충청남도 광주시 봉은사로 (지은김황리)'

In [17]:
test_data = [(fake.name(), fake.address()) for i in range(30)]

In [18]:
print(test_data)

[('전지민', '광주광역시 광진구 양재천거리'), ('강지은', '제주특별자치도 태안군 테헤란29길'), ('홍예원', '대구광역시 광진구 도산대03길'), ('김영진', '서울특별시 양천구 잠실가 (미정이김면)'), ('송채원', '충청북도 논산시 테헤란616거리'), ('박지아', '광주광역시 용산구 압구정로'), ('박채원', '서울특별시 광진구 압구정길 (채원이서마을)'), ('성상훈', '제주특별자치도 안산시 역삼4거리 (혜진박마을)'), ('이순옥', '대구광역시 중랑구 가락6길'), ('김혜진', '울산광역시 서대문구 서초중앙길'), ('김예원', '부산광역시 중구 선릉가 (정웅최고면)'), ('김민서', '서울특별시 강서구 서초대998로 (정식김동)'), ('이영식', '세종특별자치시 서구 선릉959로'), ('김민준', '대구광역시 북구 백제고분67거리'), ('김승현', '경기도 성남시 수정구 석촌호수36거리 (진우김김읍)'), ('김영일', '부산광역시 용산구 영동대로'), ('김옥순', '세종특별자치시 광진구 양재천길'), ('김영미', '대구광역시 노원구 석촌호수88거리'), ('김서준', '대전광역시 북구 봉은사거리'), ('곽시우', '충청남도 안양시 삼성2길 (현지박마을)'), ('김진호', '강원도 여주시 서초대거리 (영수서마을)'), ('하지우', '경상남도 제천시 잠실거리'), ('황도현', '경상북도 횡성군 논현00거리'), ('김예원', '경상북도 아산시 강남대로 (수진조읍)'), ('최영호', '세종특별자치시 강북구 석촌호수길 (옥자정조동)'), ('김은영', '대구광역시 강남구 영동대2길 (상호이이면)'), ('박선영', '대구광역시 동구 삼성1가'), ('김수민', '세종특별자치시 강서구 테헤란81거리'), ('이지현', '제주특별자치도 단양군 논현로 (영환박리)'), ('박은서', '세종특별자치시 구로구 테헤란3가 (예원김강마을)')]

# 연습문제

* https://www.acmicpc.net/problem/2476
* https://www.acmicpc.net/problem/2754
* https://www.acmicpc.net/problem/11653

In [19]:
# 2476 - 주사위 게임
person = int(input()) # N
answer = 0

for _ in range(person):
  a, b, c = map(int, input().split())

  if a == b == c:
    answer = max(10000 + a * 1000)
  elif a == b:
    answer = max(answer, 1000 + a * 100)
  elif a == c:
    answer = max(answer, 1000 + a * 100)
  elif b == c:
    answer = max(answer, 1000 + b * 100)
  else:
    answer = max(answer, 100 * max(a, b, c))

print(answer)

3
3 3 6
6 2 2
6 2 5
1300

어떤 사람의 C언어 성적이 주어졌을 때, 평점은 몇 점인지 출력하는 프로그램을 작성하시오.

A+: 4.3, A0: 4.0, A-: 3.7

B+: 3.3, B0: 3.0, B-: 2.7

C+: 2.3, C0: 2.0, C-: 1.7

D+: 1.3, D0: 1.0, D-: 0.7

F: 0.0

In [20]:
# 2754 - 학점계산
dic = {'A+':4.3, 'A0':4.0, 'A-':3.7,
       'B+':3.3, 'B0':3.0, 'B-':2.7,
       'C+':2.3, 'C0':2.0, 'C-':1.7,
       'D+':1.3, 'D0':1.0, 'D-':0.7,
       'F':0.0}
grade = input()
print(dic[grade])

C0
2.0

In [21]:
n = int(input())

if n == 1:
  print('')

for i in range(2, n + 1):
  if n % i == 0:
    while n % i == 0:
      print(i)
      n = n / i

72
2
2
2
3
3