<a href="https://colab.research.google.com/github/ByeongjuHwang/data-science-python/blob/main/input_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 입력과 출력



---

## 표준 입출력(Standard Input/Output)

### 표준 입력 함수

In [1]:
name = input("이름을 입력해주세요: ")
print(name)

이름을 입력해주세요: 황병주
황병주

#### [Lab] 섭씨 온도를 화씨 온도로 변환

* 섭씨 온도를 화씨 온도로 변환하는 공식: $F = (C * 1.8) + 32$
* celsius, fahrenheit

In [3]:
celsius = float(input("섭씨온도를 입력해주세요:"))

fahrenheit = celsius * 1.8 + 32

print("현재 화씨온도 %f 입니다.",fahrenheit)

섭씨온도를 입력해주세요:13.7
현재 화씨온도 %f 입니다. 56.66

In [4]:
celsius = float(input("섭씨온도를 입력해주세요:"))

def temp(celsius):
  return celsius * 1.8 + 32

print("현재 화씨온도 : ", temp(celsius))

섭씨온도를 입력해주세요:17.5
현재 화씨온도 :  63.5

#### [Lab] 구구단 중의 하나의 단을 입력받아 계산

* 출력할 단을 입력
* 해당 단의 계산 결과 출력

In [5]:
gugu = int(input("단수를 입력해주세요: "))
# int를 사용하지 않았을 때: 3, 33, 333 계속 반복된다.

for j in range(1, 10):
  print("{0} x {1} = {2}".format(gugu, j, gugu * j))

단수를 입력해주세요3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

### 표준 출력 함수

* `print()` 함수 : 콘솔 창을 통해 결과 출력하는 표준 출력 함수
* sep = 'separator': 개체가 분리하는 방법 지정, 기본값 ''
* end = 'end' 끝에 출력할 항목 지정
* file : 쓰기 방법이 있는 객체, 기본값 sys.stdout
* flush : True일 경우 flush, False일 경우 버퍼

In [6]:
print("hello python")

print("hello", "python", sep = "---")
print(1, end=' ')
print(2, end=' ')
print(3, end=' ')

hello python
hello---python
1 2 3

In [12]:
print('abc', end=' ')
print("def")

abc def

In [8]:
print("hello python!")
print("hello", "python!", sep = "--")

hello python!
hello--python

#### [Lab] 구구단 출력

* `print()` 함수를 사용하여 각 단마다 횡으로 출력

In [13]:
for i in range(2,10):
  for j in range(1,10):
    print("{0} x {1} = {2}".format(i, j, i * j), end=', ')
  print("")

2 x 1 = 2, 2 x 2 = 4, 2 x 3 = 6, 2 x 4 = 8, 2 x 5 = 10, 2 x 6 = 12, 2 x 7 = 14, 2 x 8 = 16, 2 x 9 = 18,
3 x 1 = 3, 3 x 2 = 6, 3 x 3 = 9, 3 x 4 = 12, 3 x 5 = 15, 3 x 6 = 18, 3 x 7 = 21, 3 x 8 = 24, 3 x 9 = 27,
4 x 1 = 4, 4 x 2 = 8, 4 x 3 = 12, 4 x 4 = 16, 4 x 5 = 20, 4 x 6 = 24, 4 x 7 = 28, 4 x 8 = 32, 4 x 9 = 36,
5 x 1 = 5, 5 x 2 = 10, 5 x 3 = 15, 5 x 4 = 20, 5 x 5 = 25, 5 x 6 = 30, 5 x 7 = 35, 5 x 8 = 40, 5 x 9 = 45,
6 x 1 = 6, 6 x 2 = 12, 6 x 3 = 18, 6 x 4 = 24, 6 x 5 = 30, 6 x 6 = 36, 6 x 7 = 42, 6 x 8 = 48, 6 x 9 = 54,
7 x 1 = 7, 7 x 2 = 14, 7 x 3 = 21, 7 x 4 = 28, 7 x 5 = 35, 7 x 6 = 42, 7 x 7 = 49, 7 x 8 = 56, 7 x 9 = 63,
8 x 1 = 8, 8 x 2 = 16, 8 x 3 = 24, 8 x 4 = 32, 8 x 5 = 40, 8 x 6 = 48, 8 x 7 = 56, 8 x 8 = 64, 8 x 9 = 72,
9 x 1 = 9, 9 x 2 = 18, 9 x 3 = 27, 9 x 4 = 36, 9 x 5 = 45, 9 x 6 = 54, 9 x 7 = 63, 9 x 8 = 72, 9 x 9 = 81,



---

## 파일 입출력(File Input/Output)

### 파일 입출력 과정

* 파일의 입출력 과정은 단계를 가짐
* 파일을 열고, 파일을 읽거나 쓰고, 파일을 닫는 순서

### 파일 열기/닫기

* file.txt 파일을 생성하고, 열고 닫기

In [14]:
f = open('file.txt', 'w')
f.close()

In [20]:
ls file.txt

file.txt

### 파일 모드(File Mode)

* r : 읽기
* w : 쓰기, 기존파일이 있으면 덮어쓰기
* a : 쓰기, 기존파일이 있으면 이어서 쓰기
* '+' : 읽기/쓰기 모드
* t : 텍스트 모드
* b : 이진모드

### 텍스트 파일 쓰기

#### write()

* `write()`를 이용하여 파일에 쓰기
* !cat file.txt

In [17]:
f = open('file.txt','w')
f.write("hello python")
f.close()

In [18]:
!cat file.txt

hello python

#### writelines()

* `writelines()`를 이용하여 list를 파일에 쓰기

In [21]:
lst = ['one\n', 'two\n', 'apple\n', 'banana\n']

f = open('file2.txt','w')
f.writelines(lst)
f.close()

In [23]:
!cat file2.txt

one
two
apple
banana

In [24]:
lst = ['grape\n'] # 기존 파일에 덮어씌어지므로 위 문장은 사라짐
f = open('file2.txt', 'w')
f.writelines(lst)
f.close()

In [25]:
!cat file2.txt

grape

#### 표준 입력 → 파일 쓰기

* 표준 입력을 `input()` 함수를 통해 입력 받고, `write()` 함수를 통해 파일에 쓰기

* while x != 'q':

In [ ]:
text = input("입력: ")
f = open('file.txt', 'w')
f.write(text)
f.close()

입력: hello world!

In [ ]:
!cat file.txt

hello world!

In [26]:
text = input("이름을 입력해 주세요: ")
f = open('name.txt', 'w')
f.write(text)
f.close()

이름을 입력해 주세요: 황병주

In [27]:
!cat name.txt

황병주

### [Lab] 구구단 결과를 파일에 쓰기

* 구구단 결과를 파일에 쓰기

In [28]:
f = open("gugu.txt", 'w')
for i in range(2, 10):
  for j in range(1, 10):
    f.write("{0} * {1} = {2}\n".format(i, j, i * j))
  else:
    f.write('\n')

f.close()

In [29]:
!cat gugu.txt

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### with 문

* 항상 파일을 `open()` 함수로 열고, `close()` 함수로 닫아야 하는 일을 자동으로 처리
* with문을 이용하면 with 블록 내에서 파일을 열고 벗어나면 파일을 닫음

```python
with open('file.txt','w') as f:
  f.write("hello python")
```

In [30]:
with open('with.txt', 'w') as f:
  f.write("hello world!")

In [31]:
!cat with.txt

hello world!