<a href="https://colab.research.google.com/github/ByeongjuHwang/data-science-python/blob/main/sequence_list_string_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트, 튜플, 세트, 딕셔너리



---

## 리스트(List)

### 리스트 인덱싱(List Indexing)

* 리스트의 각 위치에 해당하는 값에 접근하기 위해서 주소 개념의 숫자를 사용

In [5]:
lst = [1, 2, 3, "one", "orange"]
print(lst)

print(lst[0])
print(lst[-1])

print(lst[0:])
print(lst[0:3])

[1, 2, 3, 'one', 'orange']
1
orange
[1, 2, 3, 'one', 'orange']
[1, 2, 3]

### 중첩 리스트 인덱싱(Nested List Indexing)

* 리스트 안에 리스트가 있을 경우 인덱스 접근 방법

In [9]:
lst2 = [1, 2, 3, [4, 5, 6]]
print(lst2)

print(lst2[1])
print(lst2[3][1])

print(lst2[3][0:2])

[1, 2, 3, [4, 5, 6]]
2
5
[4, 5]

### 리스트 슬라이싱(List Slicing)

* 리스트의 인덱스를 통해서 부분만 가져올 때 사용

```python
print(lst[0:])
print(lst[1:2])
```

### 중첩 리스트 슬라이싱(Nested List Slicing)

* 중첩된 리스트에서 일부분만 인덱스를 통해서 가져올 때 사용

### 리스트 연산자/함수(List Operators/Function)

* 더하기 + 연산자
* 곱하기 * 연산자
* 리스트 길이를 구하는 `len()` 함수

In [13]:
lst = ["orange", "banana", "apple"]
print(lst)
lst2 = ["grape"]
print(lst2)

# print(lst + lst2)
lst3 = lst + lst2
print(lst3)

print(lst * 2)

lst4 = [1, 2, 3, 4]
print(lst4 * 5)

print(len(lst), len(lst2), len(lst3))

['orange', 'banana', 'apple']
['grape']
['orange', 'banana', 'apple', 'grape']
['orange', 'banana', 'apple', 'orange', 'banana', 'apple']
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
3 1 4

### 리스트 수정(List Modify)

* 리스트 인덱스 주소를 이용한 값 수정

In [15]:
print(lst)
lst[0] = 1

print(lst)

['orange', 'banana', 'apple']
[1, 'banana', 'apple']

### 리스트 메소드(List Methods)

#### append()

* 리스트 요소 추가 (가장 뒤에 추가됨)

In [19]:
lst = [1, 2, 3, 4, 5]
print(lst)

lst.append(6)
print(lst)

lst.append([7, 8, 9])
print(lst)

# lst.append(7, 8, 9) 한 가지의 값만 넣을 수 있다. 에러 발생

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, [7, 8, 9]]

#### sort()

* 리스트 정렬

In [22]:
lst2 = [10, 12, 17, 9, 8, 6]
print(lst2)

lst2.sort()
print(lst2)

[10, 12, 17, 9, 8, 6]
[6, 8, 9, 10, 12, 17]

#### reverse()

* 리스트 요소 반전

In [24]:
lst2 = [10, 12, 17, 9, 8, 6]
lst2.sort()

lst2.reverse()
print(lst2)

[17, 12, 10, 9, 8, 6]

#### index()

* 리스트의 요소 값에 대한 인덱스를 반환

In [26]:
print(lst2)

print(lst2.index(9))

[17, 12, 10, 9, 8, 6]
3

#### insert()

* 리스트 요소 삽입 (특정 위치에 요소 삽입)

In [31]:
lst3 = [1, 2, 3, 4, 5]
print(lst3)

lst3.append(6)
print(lst3)

lst3.insert(3, 11)
print(lst3)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 11, 4, 5, 6]

#### remove()

* 리스트 요소 제거
* 지우고자 하는 값을 특정할 수 없을 때는 사용하지 말것

In [35]:
lst = [1, 2, 3, 4, 5, 6]
print(lst)

lst.remove(1)
print(lst)

[1, 2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]

#### del

* 리스트 요소 제거 연산

In [ ]:
lst1 = ['abc', 'def', 3, 4, 5]
print(lst1)

del lst1
# print(lst1) 에러발생: 리스트 전체를 삭제

#### pop()

* 리스트 요소를 방출
* 가장 마지막 요소를 방출

In [37]:
lst2 = [1, 2, 3, 5, 6, 7]
print(lst2)

lst2.pop()
print(lst2)

[1, 2, 3, 5, 6, 7]
[1, 2, 3, 5, 6]

#### count()

* 리스트 요소의 갯수 계산

In [40]:
lst3 = [1, 1, 2, 3, 4, 5, 6, 10, 10, 12]
print(lst3)

print(lst3.count(1))
print(lst3.count(10))
print(lst3.count(12))

[1, 1, 2, 3, 4, 5, 6, 10, 10, 12]
2
2
1

#### extend()

* 리스트 확장

In [42]:
lst = [1, 2, 3]
lst2 = ['a', 'b', 'c']
print(lst, lst2)

# lst2를 lst에 요소들을 전부 삽입
lst.extend(lst2)
print(lst)

[1, 2, 3] ['a', 'b', 'c']
[1, 2, 3, 'a', 'b', 'c']



---

## 튜플(Tuple)

* 리스트와 유사하지만 변경 불가능한 시퀀스 자료형
* 하나의 변수에 여러 값 할당 가능
* ‘(‘와 ‘)’를 사용하여 표현

In [1]:
print((1,2,3))
print(('one','two','three',(1,2)))

(1, 2, 3)
('one', 'two', 'three', (1, 2))

### 튜플 인덱싱(Tuple Indexing)

* 튜플의 각 위치에 해당하는 값에 접근하기 위해서 주소 개념의 숫자를 사용

In [5]:
tup = ('one','two','three',(1,2))
print(tup[1])

two

### 중첩 튜플 인덱싱(Nested Tuple Indexing)

* 튜플 안에 튜플이 중첩되어 있을 경우, 인덱스 접근 방법

In [6]:
tup = ('one','two','three',(1,2))

print(tup[1])
print(tup[3][0])

two
1

### 튜플 슬라이싱(Tuple Slicing)

* 튜플의 인덱스를 통해서 부분만 가져올 때 사용

In [9]:
tup = ('one','two','three',(1,2))
print(tup[0:])
print(tup[2:4])

('one', 'two', 'three', (1, 2))
('three', (1, 2))

### 중첩 튜플 슬라이싱(Nested Tuple Slicing)

* 중첩된 튜플에서 일부분만 인덱스를 통해서 가져올 때 사용

In [13]:
tup = ('one','two','three',(1,2))
print(tup[3])
print(tup[3][0:1])

(1, 2)
(1,)

### 튜플 연산자/함수(Tuple Operators/Function)

* 더하기 + 연산
* 곱하기 * 연산
* 튜플 길이를 구하는 `len()` 함수

In [18]:
tup = ('one','two','three')
tup2 = (1, 2, 3)

print(tup, tup2)
print(tup + tup2)
print(tup * 2)
print(len(tup))
print(len(tup * 3))

('one', 'two', 'three') (1, 2, 3)
('one', 'two', 'three', 1, 2, 3)
('one', 'two', 'three', 'one', 'two', 'three')
3
9



---

## 세트(Set)

* 데이터 중복을 허용하지 않는 구조
* 순서가 없는 데이터 집합을 위한 구조
* 인덱싱으로 값을 접근할 수 없음

In [19]:
se = {'one','two','three'}

print(se)

{'two', 'one', 'three'}

### 세트 연산자(Set Operators)

* 교집합: &
* 합집합: |
* 차집합: -
* XOR: ^

In [20]:
se1 = {10,20,30,40}
se2 = {30,40,50,60,60,30}

print(se1, se2) # 중복을 허용하지 않기 때문

print(se1 & se2)
print(se1 | se2)
print(se1 - se2)
print(se1 ^ se2)

{40, 10, 20, 30} {40, 50, 60, 30}
{40, 30}
{40, 10, 50, 20, 60, 30}
{10, 20}
{10, 50, 20, 60}

### 세트 메소드(Set Methods)

* 교집합: intersection()
* 합집합: union()
* 차집합: difference()
* xor: symmetric_difference()

In [24]:
se1 = {10,20,30,40}
se2 = {30,40,50,60,60,30}

print(se1.intersection(se2))
print(se1.union(se2))
print(se1.difference(se2))
print(se1.symmetric_difference(se2))

{40, 30}
{40, 10, 50, 20, 60, 30}
{10, 20}
{10, 50, 20, 60}

* 요소 추가: add()
* 여러 요소 추가: update()
* 요소 제거: remove()
* 요소 제거: discard()
* 모든 요소 제거: clear()

In [31]:
se1 = {10,20,30,40}
print(se1)

se1.add(60)
print(se1)

se1.update([50,60,70,80,90])
print(se1)

se1.remove(60)
print(se1)

se1.discard(10)
print(se1)

se1.clear()
print(se1)

{40, 10, 20, 30}
{40, 10, 20, 60, 30}
{70, 40, 10, 80, 50, 20, 90, 60, 30}
{70, 40, 10, 80, 50, 20, 90, 30}
{70, 40, 80, 50, 20, 90, 30}
set()



---

## 딕셔너리(Dictionary)

* 키(key)와 값(value)의 쌍으로 구성된 데이터
* 순서가 없는 데이터
* 키를 통해 값을 얻음
* 동일한 키가 있을경우 덮어씀

In [34]:
dic = {1 : 'one', 2: 'two', 3: 'three'}
print(dic)
print(dic[1])
print(dic[3])

{1: 'one', 2: 'two', 3: 'three'}
one
three

### 딕셔너리 요소 추가/삭제

* 딕셔너리의 해당 키 값에 값을 추가하여 요소 추가
* del을 이용하여 요소 제거

In [37]:
dic = {1 : 'one', 2: 'two', 3: 'three'}
print(dic)

dic[4] = "four"
print(dic)

dic[1] = "ONE"
print(dic)

{1: 'one', 2: 'two', 3: 'three'}
{1: 'one', 2: 'two', 3: 'three', 4: 'four'}
{1: 'ONE', 2: 'two', 3: 'three', 4: 'four'}

### 딕셔너리 메소드(Dictionary Methods)

keys()
values()
items()
get()
pop()
clear()

In [38]:
dic = {1 : 'one', 2: 'two'}
dic[3] = 'three'

print(dic.keys())
print(dic.values())
print(dic.items())
print(dic.get(3))
dic.pop(1)
print(dic)
dic.clear()
print(dic)

dict_keys([1, 2, 3])
dict_values(['one', 'two', 'three'])
dict_items([(1, 'one'), (2, 'two'), (3, 'three')])
three
{2: 'two', 3: 'three'}
{}

---
## 참고문헌

|번호|내용|링크|
|--|--|--|
|1|Google Colab| http://suanlab.com/|
|2|Jupyter Notebook 등 python|https://wikidocs.net/book/1704|